nav {
    font-family: Jura;
    display: flex;
    background-color: var(--hvid);
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
}

li {
    margin: 1rem;
    color: var(--blå);
}

span {
    color: var(--blå);
}

p {
    font-size: 2rem;
    margin-right: 20px;
}