@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jura&display=swap');

:root {
  font-family: Inter, Jura;
  --hvid: #ffffff;
  --mørkblå: #2c3b6f;
  --blå: #002bc2;
  --sort: #000000;
}


